@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)),
    url("hero.png");
}
.shimmer {
  background: linear-gradient(90deg, #2c2c2c 25%, #3a3a3a 37%, #2c2c2c 63%);
  background-size: 400% 100%;
  animation: shimmer 1.4s ease infinite;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.error-page--content:before {
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.5) 0,
    rgba(0, 0, 0, 0.2) 45%,
    rgba(0, 0, 0, 0.1) 55%,
    transparent 70%
  );
  bottom: -10vw;
  content: "";
  left: 10vw;
  position: absolute;
  right: 10vw;
  top: -10vw;
  z-index: -1;
}
